<h1>New Dashboard Singer</h1>

<%= form_for(@singer, url: dashboard_singers_path, method: :post) do |f| %>
  <%= render 'form', singer: @singer, f: f %>
<% end %>

<%= link_to 'Back', dashboard_singers_path %>
