<h1>New Songlist</h1>

<%= form_for(@songlist, url: dashboard_songlists_path, method: :post) do |f| %>
  <%= render 'dashboard/songlists/form/form', songlist: @songlist, f: f %>
<% end %>

<%= link_to 'Back', dashboard_songlists_path %>
