<h1>New songinfo</h1>

<%= form_for(@songinfo, url: dashboard_songinfos_path, method: :post) do |f| %>
  <%= render 'dashboard/songinfos/form/form', songinfo: @songinfo, f: f %>
<% end %>

<%= link_to 'Back', dashboard_songinfos_path %>
