.field {
  margin-top: 20px;
}
.content {
  display: flex;
  & > input, & > textarea {
    flex: 1 1 auto;
  }
  & > span {
    margin: 0 4px;
    line-height: 31px;
  }
}
.actions {
  margin-top: 20px;
}
textarea {
  resize: none;
}
