$spacer: 20px;
$body-bg: transparent;
$table-cell-padding: 8px;
$table-border-width: 0px;
$table-border-color: #ddd;
$table-bg-accent: #f9f9f9;

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;

  th,
  td {
    text-align: left;
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  .table {
    background-color: $body-bg;
  }
}

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}

.tr-wrapper {
  code {
    font-size: 14px;
  }
}

@mixin square($side: 22px){
  display: inline-block;
  height: $side;
  width: $side;
}

.icon-wrapper {
  @include square(22px);
  margin: 0 5px;
  cursor: pointer;

  &.medium, &.medium svg {
    @include square(22px);
  }
  &.large, &.large svg {
    @include square(32px);
  }
}

.right {
  float: right;
}
