$spacer: 20px;
$body-bg: transparent;
$table-cell-padding: 8px;
$table-border-width: 0px;
$table-border-color: #ddd;
$table-bg-accent: #f9f9f9;

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;

  th,
  td {
    text-align: left;
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  .table {
    background-color: $body-bg;
  }
}

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}

.tr-wrapper {
  code {
    font-size: 14px;
  }

  .icon-wrapper {
    height: 22px;
    width: 22px;
    margin-left: 10px;
  }

  .icon {
    width: 100%;
    height: 100%;
  }

  .right {
    float: right;
  }
}
