<header>
  <h1>新增歌曲</h1>
</header>

<%= form_for(@song, url: dashboard_songs_path, method: :post) do |f| %>
  <%= render 'dashboard/songs/form/form', song: @song, f: f %>
<% end %>

<%= link_to 'Back', dashboard_songs_path %>
